{% for social in site.data.socials %}
  {% assign key = social[0] %}
  {% assign data = social[1] %}
  {% assign value = data.value | default: data %}
  {% assign url = "" %}
  
  {% if key == "scholar_userid" %}
    {% assign url = "https://scholar.google.com/citations?user=" | append: value %}
  {% elsif key == "x_username" %}
    {% assign url = "https://twitter.com/" | append: value %}
  {% elsif key == "linkedin_username" %}
    {% assign url = "https://www.linkedin.com/in/" | append: value %}
  {% elsif key == "github_username" %}
    {% assign url = "https://github.com/" | append: value %}
  {% elsif key == "email" %}
    {% assign url = "mailto:" | append: value %}
  {% elsif data.url %}
    {% assign url = data.url %}
  {% endif %}

  {% if url != "" %}
    <a href="{{ url }}" title="{{ key }}" target="_blank" rel="noopener noreferrer">
      {% if data.logo %}
        <i class="{{ data.logo }}"></i>
      {% else %}
        {{ key }}
      {% endif %}
    </a>
  {% endif %}
{% endfor %}
